*.dll filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
yolo11x-pose.pt filter=lfs diff=lfs merge=lfs -text
classifier/clothing_classifier2-0-1.pth filter=lfs diff=lfs merge=lfs -text
clothing_classifier2-0-1.pth filter=lfs diff=lfs merge=lfs -text
