mediapipe
opencv-python
accelerate
torch
numpy
pillow
transformers
torchvision
pycocotools
fastapi
uvicorn
ultralytics
huggingface-hub
einops
omegaconf
torchmetrics
webdataset
accelerate
tensorboard
PyMCubes
trimesh
rembg
transformers
diffusers
bitsandbytes
imageio[ffmpeg]
xatlas
plyfile
torchaudio
xformers
Ninja
git+https://github.com/NVlabs/nvdiffrast/
onnxruntime